html, body { height: 100%; width: 100%; margin: 0;background-color: #002e8d
}

.dayCard {
    width: 10%;
    height: 20%;
    margin:1%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0px 10px 18px rgba(0,0,0,0.3);
    background-color: #A2D5F2;


}
.calendar{
    display: flex;
    height: 80vh;
    flex-wrap: wrap;
    justify-content: center;
    color: darkblue ;



}
.header{
    background-color: #A8FFD1;
    height: 10%;
    width: 100% ;
    display: flex;
    overflow: hidden;
    padding: 1%;
}
.cardContent{
    height: 90%;
    width: 100%;
    margin-top: 5%;

}



.addNote{
    width: 80%;
    margin: auto;

    border-radius: 10px;
    background-color: beige ;
    transition: transform 0.3s ease;
}
.addNote:hover{
    border: 2px solid lightblue;
    background-color: #d0d0bb;
    transform: translateY(2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}
.notes{

    width: 80%;
    margin: auto;




}
.oneNote{
    margin-top: 5px;
    background-color: bisque;
    border-radius: 5px;
    width: 100%;
    display: flex;
    vertical-align: middle;

}
.oneNote button{
    border: none;
    border-radius: 5px;
    background-color: #A8FFD1;
}
.buttonStyle{
    display: flex;
    align-items: center;
    background-color: #A8FFD1;

}
.buttonNote{
    border: none;
    border-radius: 5px;
    background-color: #A8FFD1;

}
.noteTextarea{
    width: 80%;
    border: none;
    border-radius: 6px;
    padding: 10px;
    resize: none;
    margin: 5px auto 10px;
}

.buttonChangeMonth{
    background: bisque;
    border: none;
    margin: 10px;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
    box-shadow: 0 10px 18px rgba(0,0,0,0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease ;



}
.buttonChangeMonth:active{
    transform: translateY(2px);
    box-shadow: 0 10px 18px rgba(0,0,0,0.2);

}
.monthHeader{
    color: white;
}


