html, body { height: 100%; width: 100%; margin: 0; }

.dayCard {
    width: 10%;
    height: 20%;
    margin:1%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1)

}
.calendar{
    display: flex;
    height: 80vh;
    flex-wrap: wrap;
    justify-content: center;



}
.header{
    background-color: #61dafb;
    height: 10%;
    width: 100% ;
    display: flex;
    overflow: hidden;
    padding: 1%;
}
.cardContent{
    height: 90%;
    width: 100%;
    margin-top: 5%;

}



.addNote{
    width: 80%;
    margin: auto;

    border-radius: 10px;
    background-color: beige ;
    transition: transform 0.3s ease;
}
.addNote:hover{
    border: 2px solid lightblue;
    background-color: #d0d0bb;
    transform: translateY(2px);
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1)
}
.notes{

    width: 80%;
    margin: auto;



}
.oneNote{
    margin-top: 5px;
    background-color: bisque;
    border-radius: 5px;
    width: 100%;
    display: flex;
    vertical-align: middle;
}
.oneNote button{
    background-color: #ff8686;
    border: none;
    border-radius: 5px;
}
.buttonStyle{
    display: flex;
    align-items: center;
}

